@font-face {
    font-family: Matrix;
    src: url("/assets/matrix-code.eot?#iefix") format("embedded-opentype"), url("/assets/matrix-code.woff") format("woff"), url("/assets/matrix-code.ttf") format("truetype"), url("/assets/matrix-code.svg#svgFontName") format("svg");
}

.Matrix {
  font-family: Matrix;
  background-color: #010101;
  width:100%;
  height:100%;
  position:fixed;
  top:0;left:0;right:0;bottom:0;
}
